.container{
    display: flex;
    flex-direction: column;

    pre{
        font-size: 22px;
        background-color: #111;
        padding: 1rem;
        color: #fff;
        width: 100%;
    }
    button{
        width: 200px;
        height: 70px;
        font-size: 20px;
        margin:20px;
    }
}