.container{
    .Click{
        padding: 1rem;
        width: 200px;
        height: 60px;
        border:1px solid black;
        background-color: orange;
        color:white;
        font-weight: 700;
        border-radius: 12px;
        margin:10px;
        font-size: 20px;
    }
    .Click:disabled{
        background-color: gray;
        color:red;
        scale: 0.9;
    }
    input{
        width: 200px;
        height: 60px;
        margin:10px;
        padding: 1rem;
        font-size: 20px;
    }
    h1{
        margin:30px;
    }
}
.Post{
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap:20px;
    &-item{
        border:1px solid gray;
        border-radius: 8px;
        padding: 12px;
        text-align: left;
        flex-basis: 40%;
        flex-grow:1;
        &:hover{
            cursor: pointer;
        }
    }
    &-title{
        margin-bottom: 12px;
        white-space: nowrap;
        color:black;
    }
    &-body{
        line-height: 1.6;
        font-weight: 500;
        color:black;
        font-size:20px;
        
    }
    &-delete{
        background-color: rgb(112, 2, 2);
        width: 140px;
        height: 60px;
        padding: 1rem;
        color:white;
        font-size: 20px;
        border-radius: 12px;
    }
}
