@import '../../sass/colors';

.Post{
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap:20px;
    &-item{
        border:1px solid gray;
        border-radius: 8px;
        padding: 12px;
        text-align: left;
        flex-basis: 40%;
        flex-grow:1;
        &:hover{
            cursor: pointer;
        }
    }
    &-title{
        margin-bottom: 12px;
        padding: 12px;
        background-color:$darkColor;
        border-left: 10px solid black;
        border-right: 10px solid black;
        border-radius: 16px;
        white-space: nowrap;
        color:$contentColor;
    }
    &-body{
        line-height: 1.6;
        font-weight: 500;
        color:$contentColor;
        
    }
}