.wrap {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #111;
}

.box {
	border-right: 3px solid royalblue;
	border-left: 3px solid royalblue;
	color: #fff;
	padding: 1rem;
	position: relative;
	padding: 1rem;
	border-radius: 0;
	transform-style: preserve-3d;
	perspective: 1000px;
	height: 330px;
	width: 430px;
}

.box p {
	line-height: 1.6;
	font-size: 18px;
}

.box button {
	padding: 6px 16px;
	border: 0;
	margin: 20px 0;
	cursor: pointer;
	border-radius: 16px;
	background-color: #444;
	color: #fff;
	transition: 0.3s;

}

.box button:hover {
	color: greenyellow;
	transition: 0.3s;
}

.box button:active {
	scale: 0.95;
	transition: 0.3s;
	background-color: #fff;
	color: #111;
}

.box>div {
	position: absolute;
	width: 96%;
	margin: 0 auto;
	height: 100%;
	left: 2%;
	top: 0px;
	backface-visibility: hidden;
	transition: transform 1s;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px;
	background-color: #222;
	padding: 1rem;
}

.answer {
	transform: rotateY(-180deg);

}

.box.active .answer {
	transform: rotateY(0deg);
}

.box.active .question {
	transform: rotateY(180deg);
}