.title{
    text-decoration: underline;
    font-variant: small-caps;
    color: rgb(245, 64, 64);
    cursor: pointer;
    line-height: 2;
}
.Car{
    flex: 0 0 28%;
    margin: 5px 15px;
    border: 1px solid gray;
    border-radius: 12px;
    padding: 0.5rem;   
}
.Car img{    
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
    
}
.Car p{
    line-height: 1.5;
}