.Box{
    width: 500px;
    height: fit-content;
    background-color: blue;
    text-align: center;
    margin: 100px auto;
    padding: 50px ;
    font-size: 18px;
    .Button{
        background-color: white;
    }

    label{
        display: block;
        position: relative;
        padding-left: 50px;
        text-align: left;
    }
    input{
        padding: 10px ;
        margin-bottom: 10px;
        width: 300px;
    // &[type="submit"]{
    //     background-color: #dbca83;
    //     color: white;
    //     cursor: pointer;
    //     margin: 10px;
    //     border-color: transparent;
    //     // width: 110px;
    // }
}
}