@mixin flexRools($js, $ai, $fd) {
	display: flex;
	justify-content: $js;
	align-items: $ai;
	flex-direction: $fd;
}

body {
	background-color: #101522;
}

header{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 10px;
	color: #fff;
	span{
		color: #ffd32a;
	}
}

.wrapper {
	max-width: 1400px;
	margin: 0px auto;

	display: grid;
	min-height: 100vh;
	grid-template-columns: 1fr 2.5fr;
	grid-template-rows: 60px 1fr;

	&>* {
		border: 1px solid teal;
	}

	header {
		grid-column-start: 1;
		grid-column-end: -1;
	}

	&-form {
		@include flexRools(center, flex-start, row);

		form {
			width: 100%;
			margin: 10px;
			color: #fff;

			label {
				font-variant: small-caps;
			}

			div {
				padding: 10px;

				&.radio-form-group {
					@include flexRools(flex-start, flex-start, column);
					input {
						width: 20px;
						padding-right: 10px;
						float: left;
						margin: 10px ;
					}
					.radio-wrapper{
						display: flex;
						justify-content: center;
						align-items: center;
					}
				}

				input,
				select {
					margin: 10px auto;
					border-radius: 12px;
					padding: 0.5rem 1rem;
					font-size: 18px;
					width: 100%;

					&:focus {
						outline: none;
					}
				}

				input[type='submit'] {
					background-color: green;
					font-weight: 600;
					cursor: pointer;
					color: #fff;
					border: 0;

					&:active {
						scale: 0.98;
						transition: 0.2s;
						background-color: rgb(14, 165, 14);
					}
				}
			}
		}
	}

	&-table {
		@include flexRools(flex-start, center, row);
		padding: 1rem;
	height: 600px;
	overflow-y: auto;
		table {
			font-family: 'Saira Condensed',
				sans-serif;
			border: 2px solid #555;
			color: #ffd32a;
			border-collapse: collapse;
			width: 100%;
			text-align: left;
			font-size: 18px;
			align-self: start;
		

			td,
			th {
				padding: 5px 1px;
				border: 2px solid #444;
				.delButton {
					padding: 5px 5px;
					font-size: 16px;
					color: #fff;
					background-color: #555;
					border: none;
					border-radius: 5px;
					transition: .4s ;
					cursor: pointer;
					&:hover {
					  background-color: #ffd32a;
					  color: black;
					}
				  }
			}

			tr {
				&:nth-child(even) {
					background-color: #2D3446;
				}

				&:nth-child(odd) {
					background-color: #353C4E;
				}

				&:hover {
					cursor: pointer;
					background-color: #1c2337;
					transition: 0.2s;
				}
			}
		}
	}
}


.sort{
	color:rgb(3, 255, 255);
	padding: 0 3px;
}