.Pagination{
	list-style: none;
	display: flex;
	align-items: center;
	margin: 30px auto;
}
.Pagination li{
	padding: 6px 12px;
	color: royalblue;
	font-size: 20px;
	border: 1px solid teal;
	background-color: azure;
	border-radius: 6px;
}
.Pagination li a {
	color: inherit;
	text-decoration: none;
}