button{
    margin: 20px;
    padding: 6px;
    border-radius: 12px;
    background-color: blue;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

button:disabled{
    background-color: grey;
    color: #ff0404;
}

pre{
    width: 600px;
    text-align: center;
    background-color: #333;
    padding: 1rem;
    text-align: left;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}