.Pagination{
    list-style: none;
    display: flex;
    align-items: center;
}
.Pagination li{
    padding: 1rem;
    color: royalblue;
    font-size: 20px;
    border: 1px solid teal;
    background-color: #fff;
}

.Pagination li a{
    color: inherit;
    text-decoration: none;
}

.Posts{
    list-style: none;
    display: flex;
    align-items: flex-start;

}
.Posts li{
    margin: 12px auto;
    font-weight: 700;
    color: black;
    
}