    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,600;0,700;0,800;0,900;1,400&display=swap');
    @import "./sass/_colors";

    *{ 
        padding: 0;
        margin:0;
        box-sizing: border-box;

    }
    body{
        background-image:$backgroundColor;
        font-family: 'Montserrat', sans-serif;
        height: 200vh;
        
    }
    .container{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .alert {
            width: 350px;
            height: 120px;
            padding: 16px 30px;
            background-color: greenyellow;
            font-weight: 700;
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 10px;
            right: 10px;
            border-radius: 16px;
            transition: 0.5s;
            transform: scale(0);
            opacity: 0;
           &.show {
                transition: 0.5s;
                transform: scale(1);
                opacity: 1;
            }
        }
        .content{
            width: 60%;
            height: 800px;
           text-align: center;
            flex-wrap: wrap;
            background-color: $contentColor;
            margin-top:100px;
        h1{
            background-color: blue;
            background-image: $backgroundColor;
            background-size: 100%;
            background-repeat: repeat;
            background-clip: text;
            color: transparent;
            font-size:40px; 
            margin-top:30px;
        }
        .form{
            width:100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top:30px;

           
           
            div{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            p{  
                color:red;
               
            }
            }
        
            
        input{
            width: 400px;
            background-color: $contentColor;
            padding-top:1rem;
            margin:20px;
            font-size: 20px;
            border:none;
            border-bottom:2px solid $lightColor;
            font-weight: 700;
            font-family: 'Montserrat', sans-serif;
            caret-color:auto;
            color:$lightColor;
            &:focus{
                outline: none;
                border-bottom: 3px solid $darkColor;
            }
            }
            textarea{
                width: 500px;
                height: 100px;
                background-color: $contentColor;
                margin-top:40px;
                border:none;
                border-bottom:2px solid $lightColor;
                padding-left: 5px;
                resize: none;
                color: $lightColor;
                font-size:20px;
                font-weight:700;
                font-family: 'Montserrat', sans-serif;
                &:focus{
                outline: none;
                border-bottom: 3px solid $darkColor;
               
                }
                }
                span{
                    width: 650px;
                    margin-left:30px;
                    display: inline-block;
                    color:red;
                    margin-top:10px;
                }
                button{ 
                    width: 200px;
                    margin: 50px;
                    font-family:  'Montserrat', sans-serif;
                    font-size: 20px;
                    padding: 15px;
                    text-align: center;
                    transition: 0.5s;
                    background-size: 200% auto;
                    color: #FFF;
                    border:none;
                    font-weight: 700;
                    box-shadow: 0 0 20px #eee;
                    border-radius: 10px;
                    box-shadow: 0 1px 3px $lightColor, 0 1px 2px $darkColor;
                    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
                    cursor: pointer;
                    display: inline-block;
                    border-radius: 25px;
                    background-image: linear-gradient(to right, $lightColor 0%, #3740f7 51%,$darkColor 100%);
                    &:hover{
                        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
                        margin: 48px 50px 52px;
                        background-position: right center;
                    }
                }

            }
        }
      table{
        color: $contentColor;
        margin-top:100px;
        width: 1000px;
        table-layout: fixed;
        border-collapse: collapse;
        border: 3px solid purple;
          th,
          td{
            padding: 20px;
            text-align: center;
          }
        
          
      }

    }
