.main {
  width: 1140px;
  height: 100vh;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  form {
    width: 50%;
    margin: 20px auto;

    div {
      label {
        font-variant: small-caps;
        font-weight: 600;
        line-height: 2;
        font-size: 18px;
      }
      input,
      select {
        width: 100%;
        margin: 10px auto;
        padding: 1rem;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px,
          rgba(0, 0, 0, 0.12) 0px -12px 30px;
        border: 0;
        font-size: 18px;
        &:focus {
          outline: none;
        }
      }

      input[type="submit"] {
        background-color: rgb(118, 172, 37);
        font-weight: 700;
        cursor: pointer;
        color: #fff;
      }

      select {
        appearance: none;
      }
    }
  }
  &-list {
    list-style: none;
    width: 50%;
    margin: 20px auto;
    li {
      padding: 0.5rem 1rem;
      border: 1px solid rgba(0, 0, 0, 0.5);
      margin: 10px auto;
      border-radius: 10px;
      span {
        display: block;
        margin-bottom: 10px;
        &.date {
          color: green;
          border-bottom: 1px solid #000;
          font-weight: 700;
          font-size: 12px;
          display: inline-block;
        }
      }
      .html\&css {
        color: red;
      }
      .javascript {
        color: blue;
      }
      .react.js {
        color: yellow;
      }
      .typescript {
        color: brown;
      }
      .python {
        color:darkblue;
      }
    }
  }
}

.checkbox {
  display: flex;
  flex-direction: row;
  label{
   margin: 20px ;
  }
}
