@import "../sass/variables";
@import "../sass/colors";
@import "../sass/mixins";

.Posts {
	@include PostFlexRools();
	width: 100%;

	&__Item {
		border: 2px solid grey;
		box-shadow: $post-shadow;
		border-radius: 12px;
		flex: 0 0 100%;
		padding: 1rem;
		transition: 0.3s;

		&:hover {
			cursor: pointer;
			transition: 0.3s;
			transform: scale(1.03) translateY(-3px);
			background-image: linear-gradient(90deg, #f61b10, #ef0963);
			box-shadow: none;
		}

	}

	&__Title {
		text-transform: uppercase;
		margin-bottom: 10px;
	}

	&__Body {
		line-height: 1.6;
		text-indent: 15px;
	}
}