div {
    width: 100%;
    margin: 10px auto;
    

    input {
        padding: 1rem;
        width: 40%;
        margin: 6px;
        font-size: 22px;
        color: rgb(99, 99, 99);

        &[type='submit'] {
            background: rgb(49, 212, 43);
            color: azure;
            width: 200px;
        }
    }
}