@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,600;0,700;0,800;0,900;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
	background-color: #fff;
	width: 800px;
	height: 550px;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	margin: 50px auto;
}
form {
 
		width: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin: 50px auto;
    .error{
        color: #ff0404;
        position: relative;
				left: 100px;
				top: -18px;
        font-size: 14px;
				background-color: #ffffff;
				padding: 2px;
				font-weight: bold;
			
    }

    & > div {
        width: 100%;
        margin: 10px auto;
        input {
            padding: 1rem;
            width: 38%;
            margin: 14px;
            font-size: 22px;
            color: rgb(91, 91, 91);
						border: 1px solid rgb(194, 194, 194);
						border-radius: 5px;
						background-color: rgb(238, 238, 238);

            &[type='submit'] {
                background: rgb(25,199,6);
                color:rgb(255, 255, 255);
								width: 150px;
								height: 60px;
								margin: 9px;
								font-size: medium;
								border-radius: 3px;
								border-style: none;
            }
        }
    }
}

h1 {
    font-size: 48px;
    text-align: center;
		padding: 20px;
		margin: 20px;
}
h3 {
    color: rgb(153,153,152);
    padding: 1rem;
    margin: 10px auto;
		font-size: 17px;
		text-align: center;
		line-height: 30px;
}
.information {
    width: 550px;
    height: 70px;
    border-radius: 8px;
    padding: 26px 30px;
    line-height: 1.6;
    text-align: center;
    background: rgb(221, 255, 0);
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: -100%;
    transition: 0.5s;
    opacity: 0.5;
    &.show {
        right: 10px;
        transition: 0.5s;
        opacity: 6;

    }
    p {
        text-shadow: 10px 1px 10px #000000;
        font-size: 19px;
        color: #0000ff;
    }
}