*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}
.todos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    margin: 100px auto;
    width: 60%;
    /* min-height: 70px; */
}


.todo{
    width: 30%;
    height: 150px;
    color: #000000;
    border-radius: 10px;
    /* box-shadow: 3px 3px 3px #9e9e9e; */
    border: 1px solid black;
    overflow: hidden;
    justify-content: center;
}
.todo li{
    display: block;
    width: 100%;
}
.todos li {
    text-align: center;
    padding: 6px 0;
    font-size: 23px;
}
.todos .title{
    font-size: 18px;
}
.pagination{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    font-size: 1.2rem;
    gap: 5px;
}

.pagination .page-num{
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 400;
}
.pagination .page-num:hover{
    background-color: #5AB1BB;
    color: #fff;
}
.pagination .active{
    background-color: #5AB1BB;
    
}