.App{
    text-align: center;
    .btn-link{
        padding: 0.6rem;
        font-size:18px;
        font-weight: 700;
        color:black;
        border-radius: 12px;
        width: 150px;
        border:1px solid green;
        }
}