.App{
		margin: 0 auto;
	text-align: center;
	h1{
		margin-bottom: 30px;
	}
	.btn-link{
		padding: 0.6rem 1rem;
		font-size: 18px;
		font-weight: 500;
		color: #111;
		border-radius: 12px;
		width: 150px;
		border: 2px solid #111;
		background-color: #b1b1b171;
	}
}