<<<<<<< HEAD

h1{
    text-align: center;
}

.box{
    display: flex;
    justify-content: center;
}

/* button{
	padding: 13px 23px;
	font-weight: 700;
	font-size: 18px;
	margin: 10px;
	cursor: pointer;
	background-color: rgb(255, 208, 69);
	border: 2px solid #353535;
	border-radius: 12px;
} */
=======
>>>>>>> fac60bd97a93eccb551fc3b430e986019211ac36
